
/* ------------------------------------- button ------------------------------------------------------ */

/* 按钮设置样式的class名称,需要给button设置class="elButton"实现更改样式*/
/*按钮大小设置需在el-button标签设置size属性实现*/
/*删除 确定 取消 可以通过设置button的type属性实现*/
.elButton{
 
}

/* ------------------------------------- table ------------------------------------------------------ */

/* 表格表头样式,不需要添加属性即可更改，如有特别样式请自行设置class名谢谢 */
/* .el-table th{
  background-color: black !important;
} */
/* 斑马纹样式，需要在table里面写stripe属性然后在这里实现样式的更改 */
.el-table--striped .el-table__body tr.el-table__row--striped td{
  
}

/* 表格td样式，不需要添加属性即可更改 */
 .el-table--enable-row-transition .el-table__body td{
    background-color: cyan;
}
/* 其他表格鼠标划入时的颜色，不需要添加属性即可更改 */
.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color:cyan !important;
}

/* 默认表格鼠标划入时的颜色，不需要添加属性即可更改 */
.el-table__body tr.hover-row.current-row>td,.el-table__body tr.hover-row.el-table__row--striped.current-row>td,.el-table__body tr.hover-row.el-table__row--striped>td,.el-table__body tr.hover-row>td{
    
}

/* ------------------------------------- radio ------------------------------------------------------- */

/*单选框默认样式设置，不需要添加属性，可以直接更改*/
.el-radio__inner{

}

/*单选框默认字体样式设置，不需要添加属性，可以直接更改*/
.el-radio__label{

}

/*单选框选中样式设置，不需要添加属性，可以直接更改*/
.el-radio__input.is-checked .el-radio__inner{
   
}

/*单选框选中字体样式设置，不需要添加属性，可以直接更改*/
.el-radio__input.is-checked+.el-radio__label {
    
}

/* 如果需要只设置单独的某一个radio，需要在el-radio添加id="manuallyChange"实现 */
/*单选框样式设置*/
#manuallyChange .el-radio__inner{
 
}

/*单选框字体样式设置，*/
#manuallyChange .el-radio__label{
    
}

/*单选框选中样式设置*/
#manuallyChange .el-radio__input.is-checked .el-radio__inner{
    /* border-color:rgb(83, 168, 33);
    background: rgb(83, 168, 33); */
}

/*单选框选中字体样式设置*/
#manuallyChange .el-radio__input.is-checked+ .el-radio__label {
    /* color: rgb(83, 168, 33); */
}

/* ------------------------------------- message ------------------------------------------------------- */
/* 在更改样式之前，需要在methods的方法this.$confirm里添加cancelButtonClass或者confirmButtonClass */
/*message取消按钮的默认样式*/
.btn-cancel{
    background-color: #F56C6C;
    color: #FFFFFF;
    border: 1px solid #F56C6C;
}
.btn-cancel:hover{
    background-color: #F56C6C;
    color: #FFFFFF; 
    border: 1px solid #F56C6C;
}

/*message确认按钮的默认样式*/
.btn-confirm{

}
/* */


/* ------------------------------------- input ------------------------------------------------------- */

/*input表单验证提示信息样式，不需要添加属性，可以直接更改*/
.el-form-item__error{

}

/*input表单验证提示信息样式边框，不需要添加属性，可以直接更改*/
.el-form-item.is-error .el-input__inner,.el-form-item.is-error .el-textarea__inner{
/* border-color: blue; */
}

/* ------------------------------------- checkbox ------------------------------------------------------- */

/*复选框默认样式设置，不需要添加属性，可以直接更改*/
.el-checkbox__inner{

}

/*复选框默认字体样式设置，不需要添加属性，可以直接更改*/
.el-checkbox__label {

}

/*复选框默认选中样式设置，不需要添加属性，可以直接更改*/
.el-checkbox__input.is-checked .el-checkbox__inner{

} 

/*复选框字体默认选中样式设置，不需要添加属性，可以直接更改*/
.el-checkbox__input.is-checked+.el-checkbox__label {
    
}

/* 如果需要只设置单独的某一个复选框，需要在el-checkbox添加id="manuallyChangeck"实现 */
/*复选框样式设置*/
#manuallyChangeck .el-checkbox__inner{

}

/*复选框字体样式设置*/
#manuallyChangeck .el-checkbox__label {

}

/*复选框选中样式设置*/
#manuallyChangeck .el-checkbox__input.is-checked .el-checkbox__inner{
  
}

/*复选框选中字体设置*/
#manuallyChangeck .el-checkbox__input.is-checked+.el-checkbox__label {
  
}

/* ------------------------------------- tab选项卡 ------------------------------------------------------- */
/*选项卡的默认样式*/
.el-tabs__nav-scroll{

}

/*选项卡的选中默认样式*/
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
    /* background-color: chartreuse;
    color: coral; */
}